.delete-text p {
  text-align: center;
  margin: 1rem 0;
}

.delete-table {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.delete-table th,
.delete-table td {
  padding: 0.3rem;
  text-align: left;
  vertical-align: text-top;
  border: none;
}

.delete-table tr:nth-child(even) {
  background-color: initial;
}
