.delete-text p {
  text-align: center;
  margin: 1rem 0;
}

.delete-table {
  margin-left: auto;
  margin-right: auto;
}

.delete-table th,
.delete-table td {
  padding: 0.3rem;
  text-align: left;
  vertical-align: text-top;
  border: none;
}

.delete-table tr:nth-child(even) {
  background-color: initial;
}

.delete-table,
.delete-table tbody,
.delete-table th,
.delete-table td,
.delete-table tr {
  display: block;
}

.delete-table tr {
  border: 1px solid #ccc;
  margin-bottom: 6px;
}

.delete-table td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;

  min-height: 12pt;
}

.delete-table td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 60%;
  padding-right: 10px;
  white-space: nowrap;
}

.delete-table {
  width: 100%;
}

.delete-table td,
.delete-table th {
  border: 1px solid #ddd;
  padding-left: 40%;
}

.delete-table td:nth-of-type(1):before {
  content: "Part Name:";
}

.delete-table td:nth-of-type(2):before {
  content: "Serial Number:";
}
