.pagination select {
  padding: 0.25rem;
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.page-numbers {
  display: flex;
  flex-direction: column;
}

.page-numbers-contents {
  padding-top: 0.5rem;
  text-align:center;
}

.select-menu-label {
  padding-right: 1rem;
}

.items-per-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .items-per-page {
    flex-direction: column;
  }

  .select-menu-label {
    padding-right: 0;
    padding-bottom: 0.5rem;
  }

  .pagination button {
    margin: 0.5rem;
  }
}
