.form-asterisk {
  color: #cc0000;
}

.form-error {
  color: #d81f26;
  background-color: #ffd3d4;
  display: flex;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

.field-label {
  margin: 0 0.5rem;
}

.field-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-input span {
  width: 50%;
}

.field-input input {
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .small-centre,
  .form-error {
    text-align: center;
  }

  .field-label {
    margin-left: 0;
  }
}
