
  
  tr:nth-child(even) {
    background-color: #eee;
  }

  tr:hover {
    background-color: #bbb;
  }
  .report-main{
    padding: 10px;

  }

  
 
  .report-header{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 110px 110px;    
  }

  
 .report-image{
    
    padding: 10px;

  }
  .report-name{
    font-size: 40px;
    text-align: right;
    
    padding: 0 10px;
    margin: 0;
   
  }

  .report-filters{
    font-size: 20px;
    text-align: left;
    padding: 10px 0;
    
  }
  

  .report-date{
    font-size: 20px;
    text-align: right;
    padding: 0 10px;
  }



  .filter-banner{
    display: flex;
    width: 1150px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .filter-element{
    padding: 10px;
   

 }

  .report-button{
    padding: 0px auto 0px auto;
    text-align: center;

  }

  .filter-one{
    padding: 0px auto 0px auto;
    text-align: center;
  }

  .reporting_table_wrapper{
width: 100%;
  }


