.parts-table {
  border-collapse: collapse;
  width: 100%;
}

.parts-table td,
.parts-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.parts-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.parts-table tr:hover {
  background-color: #ddd;
}

.parts-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: grey;
  color: white;
}

/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  .parts-table td,
  .parts-table th {
    border: 1px solid #ddd;
    padding-left: 50%
  }
} */