.display-none {
  display: none;
}

.modal-background {
  display: flex;
  justify-content: center;
  height: 101%;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  justify-content: center;
  background: #ffffff;
  position: relative;
  padding: 3rem;
  border-radius: 0.3rem;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 35rem;
  min-height: 18rem;
  max-height: 80%;
  max-width: 50rem;
}

.modal-content div,
.modal-content div .loading-spinner {
  width: 100%;
}

.modal-content div .loading-spinner p {
  margin-top: 0;
}

.disable-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    min-width: 20rem;
    max-width: 20rem;
  }
}
